* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

/* .clearfix::after {
  clear: both;
  content: "";
  display: block;
} */

.product {
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  column-gap: 40px;
  width: 825px;
  margin: 50px auto;
  border: 4px solid black;
  position: relative;
}

.product-title {
  grid-column: 1 / -1;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 15px;
  background-color: rgba(235, 235, 235, 0.5);
  font-size: 22px;
}

.row {
  display: flex;
  gap: 40px;
}

.product-img {
  /* float: left; */
  /* margin-right: 40px; */
}

.about-product {
  /* width: 250px; */
  /* float: left; */
  /* flex: 1; */
  margin-top: 20px;
  /* margin-right: 20px; */
}

.row-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.product-price {
  font-size: 25px;
  /* float: left; */
}

.product-shipping {
  /* float: right; */
  color: gray;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 10px;
}

.product-sale {
  display: inline-block;
  position: absolute;
  left: -35px;
  top: -15px;
  background-color: rgb(255, 66, 66);
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 15px;
  letter-spacing: 2px;
}

.product-info {
  clear: both;
}

.more-info:link, .more-info:visited {
  display: inline-block;
  margin-bottom: 30px;
  color: black;
}
.more-info:hover, .more-info:active {
  text-decoration: none;
}

/* .product-colors {
  margin-bottom: 30px;
} */
.product-colors {
  display: flex;
  gap: 10px;
}
.product-color {
  width: 24px;
  height: 24px;
}

.product-color:last-child {
  margin: 0;
}

.black {
  background-color: black;
}

.blue {
  background-color: rgb(91, 91, 255);
}
.red {
  background-color: rgb(255, 70, 70);
}
.yellow {
  background-color: rgb(255, 255, 55);
}
.green {
  background-color: green;
}
.brown {
  background-color: brown;
}

.details {
  /* width: 243px; */
  /* float: left; */
  /* flex: 1; */
  margin-top: 20px;
}

.product-details {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.product-list {
  margin: 0 20px;
  padding: 0;
  list-style: square;
  line-height: 2;
}

.product-add {
  grid-column: 1 / -1;
  width: 100%;
  padding: 15px;
  text-transform: uppercase;
  font-size: 22px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  border: none;
  border-top: 4px solid black;
}

.product-add:hover {
  background-color: #fff;
  color: black;
}